.checkout-page {
    padding: 20px;
    margin-top: 30px;
    background-color: #f9f9f9;
    border-radius: 8px;
  }
  
  .checkout-header {
    text-align: center;
    color: mediumvioletred;
    font-family: 'Brush Script MT', cursive;
  }
  
  .section-header {
    font-weight: bold;
    color: mediumvioletred;
  }
  
  .order-summary {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .total-amount {
    margin-top: 15px;
    font-weight: bold;
    color: darkgreen;
  }
  
  .confirm-order-button {
    margin-top: 20px;
    background-color: mediumvioletred;
    color: white;
  }
  